---
import SiteLayout from "../layouts/SiteLayout.astro";
import PageHero from "../components/PageHero.astro";
---

<SiteLayout title="Message sent | MarineStream™" description="Thanks for contacting MarineStream.">
  <PageHero
    title="Message received"
    lead="Thanks. We typically respond within 1–2 business days."
  >
    <div class="btn-row">
      <a class="btn btn--primary" href="/">Back to home</a>
    </div>
  </PageHero>
</SiteLayout>
