---
import { salesCategories } from "../data/sales";
---

<ol class="offer-list">
  {
    salesCategories.map((item) => (
      <li>
        <a href={item.href}>
          <strong>{item.label}</strong>
          <span>{item.description}</span>
        </a>
      </li>
    ))
  }
</ol>
