---
import { serviceNav } from "../data/navigation";
---

<ol class="offer-list">
  {
    serviceNav.map((s) => (
      <li>
        <a href={s.href}>
          <strong>{s.label}</strong>
          <span>{s.description}</span>
        </a>
      </li>
    ))
  }
</ol>
